# Core Django Components
Django
djangorestframework
django-cors-headers
django-environ
whitenoise
gunicorn

# Database
psycopg2-binary
dj-database-url
python-dotenv

# Numerical Computing
numpy 

# Azure Integration
azure-identity
azure-keyvault-secrets
openai

# Authentication & Security
djangorestframework-simplejwt
PyJWT
python-jose

# Performance & Caching
django-redis
redis

