# Project dependencies 
django
djangorestframework #REST API
django-cors-headers #Cross-Origin Resource Sharing
django-environ #Environment variables
whitenoise #Serves static files on Azure
gunicorn # Production web server
psycopg2-binary #PostgreSQL DB connection
dj-database-url #Checks database urls

# Azure
azure.identity # Azure auth
azure.keyvault.secrets #Azure secrets

# Authentication & Security
# Uses JWT for authentication
djangorestframework-simplejwt
pyjwt
python-jose  

# Performance & Caching
django-redis
redis